
<?php


h1{
	font-family: 'Lato 900', sans-serif;
	color: #2D3047;
}

h2{
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: 'Lato 700', sans-serif;
}

h4{
	font-family: 'Lato 400', sans-serif;
	color: #5c5c60;
}

p{
	font-family: 'Lato 300', sans-serif;
	color: #5c5c60;
}


.datos{
	padding-top: 30px;

}

.acerca{
	background: #7CEA9C;
	padding-top: 90px; 
	padding-left: 60px;
	padding-right: 60px;
	height: 100vh;
	position: fixed;
}

.acerca a{
	color: #071013;
}

.redessociales a{
	color: #2E2E2E;
	font-size: 50px;

	
}

.texto{
	padding-top: 50px;
	padding-bottom: 50px;
}

.resumen{
	padding-left: 80px;
}

.contacto{
	font-family: 'Lato 900', sans-serif;
	color: #2D3047;

}
.components{
	text-align: center;
	margin: 50px 0px 20px 0px;
}


.rounded-circle{
	width: 200px;
	margin-bottom: 200px;
	margin:10px auto;
	display:block;
}


.lista{
	margin-bottom: 20px;
	
}

.lista:hover{
	text-decoration: none;
}